################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Teleport-pack/FileContentIndex
/.vs/Teleport-pack/v17
/.vs
